@font-face {
    font-family: 'Exo Thin';
    src: url(../fonts/Exo/static/Exo-Thin.ttf)
}
@font-face {
    font-family: 'Exo Regular';
    src: url(../fonts/Exo/static/Exo-Regular.ttf)
}
@font-face {
    font-family: 'Exo Regular Italic';
    src: url(../fonts/Exo/static/Exo-Italic.ttf)
}
@font-face {
    font-family: 'Exo Medium';
    src: url(../fonts/Exo/static/Exo-Medium.ttf)
}
@font-face {
    font-family: 'Lato Regular';
    src: url(../fonts/Lato/Lato-Regular.ttf)
}