@font-face {
    font-family: "Exo Light";
    src: url(../fonts/Exo/static/Exo-Light.ttf);
}
@font-face {
    font-family: "Exo Regular Italic";
    src: url(../fonts/Exo/Exo-Italic-VariableFont_wght.ttf);
}
@font-face {
    font-family: "Exo Regular Italic";
    src: url(../fonts/Exo/Exo-Italic-VariableFont_wght.ttf);
}
@font-face {
    font-family: "Exo Regular Italic";
    src: url(../fonts/Exo/Exo-Italic-VariableFont_wght.ttf);
}
@font-face {
    font-family: "Exo Regular Italic";
    src: url(../fonts/Exo/Exo-Italic-VariableFont_wght.ttf);
}