@import 'font.css';

* {
   margin: 0;
   padding: 0;
}

/* Первый экран */

.container-header {
   background: url(../images/header.png) center no-repeat;
   background-size: cover;
   width: 100%;
   padding: 13vw 0;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.first-header {
   font-family: 'Exo Thin';
   font-weight: 100;
   font-size: 60px;
   max-width: 730px;
   text-align: center;
   margin-bottom: 30px;
}

/* Кнопки */

.button-round {
   opacity: .6;
   margin-bottom: 40px;
   transition: 0.2s;
}

.button-square {
   background: #ff6d6d;
   width: 190px;
   height: 50px;
   border-radius: 3px;
   margin-bottom: 24px;
   transition: 0.2s;
   display: flex;
   align-items: center;
   justify-content: center;
}

.text-btn-sq {
   text-align: center;
   font-family: 'Exo Regular';
   font-weight: 400;
   font-size: 16px;
   color: #fff;
}

/* Анимация кнопок */

.button-round:hover {
   cursor: pointer;
   transform: scale(1.1);
}

.button-round:active {
   transform: none;
}

.button-square:hover {
   cursor: pointer;
   transform: scale(1.1);
}

.button-square:active {
   transform: none;
}

/* Сноска */

.capution {
   text-align: center;
   font-family: 'Myriad Pro';
   font-weight: 400;
   font-size: 14px;
   color: #282828;
   opacity: .6;
}

.red {
   color: #ff6d6d;
}

/* Второй экран */

.new-desing1 {
   display: flex;
}

.discriptoin {
   display: flex;
   width: 100%;
   padding: 13vw;
   flex-direction: column;
   align-items: flex-start;
   justify-content: center;
}

.discription1 {
   font-family: 'Exo Medium';
   font-weight: 500;
   font-size: 16px;
   color: #ff6d6d;
   margin-bottom: 15px;
}

.discription2 {
   font-family: 'Exo Medium';
   font-weight: 500;
   font-size: 40px;
   max-width: 500px;
   color: #282828;
}

.discription3 {
   font-family: 'Exo Medium';
   font-weight: 500;
   font-size: 16px;
   color: #282828;
   max-width: 550px;
   margin-bottom: 40px;
   opacity: .66;
}

.discription4 {
   font-family: 'Exo Medium';
   font-weight: 500;
   font-size: 16px;
   color: #282828;
   max-width: 530px;
   opacity: .66;
}

.foto-section2 {
   background: #f1f1f1 url(../images/portrait.jpg) left no-repeat;
   background-size: cover;
   width: 100%;
   flex-shrink: 0.8;
   position: relative;
   overflow: hidden;
}

.triangle {
   background-color: #ff6d6d;
   opacity: .8;
   height: 500%;
   width: 100%;
   position: absolute;
   bottom: 0;
   transition: none;
   transform-origin: left bottom;
   transform: rotate(50deg);
}

/* Третий экран */

.new-features {
   background: #f6f5f3 url(/images/newfeatures-bg.png) left no-repeat;
   background-size: cover;
   padding: 13vw 0;
   display: flex;
   flex-direction: column;
}
.header-third-ssection1 {
   font-family: 'Exo Medium';
   font-weight: 500;
   font-size: 16px;
   color: #ff6d6d;
   text-align: center;
   margin-bottom: 25px;
}
.header-third-ssection2 {
   font-family: 'Exo Medium';
   font-weight: 500;
   font-size: 40px;
   color: #282828;
   text-align: center;
   margin-bottom: 90px;
}

.some-awesom-features {
   display: flex;
   flex-direction: row;
   text-align: center;
   list-style-type: none;
   justify-content: space-evenly;
}
.item-header {
   font-family: 'Exo Medium';
   font-weight: 500;
   font-size: 22px;
   color: #282828;
   margin-bottom: 20px;
}
.item-discription {
   font-family: 'Exo Medium';
   font-weight: 500;
   font-size: 16px;
   color: #282828;
   opacity: .66;
   max-width: 335px;
}

.icon_1 {
   margin-bottom: 35px;
}

.icon_2 {
   margin-bottom: 35px;
}

.icon_3 {
   margin-bottom: 35px;
}

/* Четвертый экран */

.responsive-design {
   display: flex;
}

.section-macbook {
   display: flex;
   position: relative;
   width: 100%;
   overflow: hidden;
   align-items: center;
   justify-content: flex-end;
   flex-shrink: 1;
}

.section-triangle {
   background-color: #ff6d6d;
   opacity: .8;
   height: 500%;
   width: 100%;
   position: absolute;
   bottom: 0;
   right: 20%;
   transition: none;
   transform-origin: right bottom;
   transform: rotate(-40deg);
}

.macbook {
   position: relative;
   z-index: 1;
}

.section-discription {
   padding: 10vw 3vw;
   width: 100%;
   display: flex;
   flex-flow: column wrap;
   justify-content: center;
}

.red-header {
   font-family: 'Exo Medium';
   font-weight: 500;
   font-size: 16px;
   color: #ff6d6d;
   margin-bottom: 20px;
}

.second-header {
   font-family: 'Exo Medium';
   font-weight: 500;
   font-size: 40px;
   max-width: 500px;
   color: #282828;
   margin-bottom: 40px;
}

.paragraph {
   font-family: 'Exo Medium';
   font-weight: 500;
   font-size: 16px;
   color: #282828;
   opacity: .66;
   max-width: 500px;
}

/* Пятый экран */

.sponsor-section {
   background: #000000 url(../images/team-bg.png) center no-repeat;
   background-size: cover;
   background-blend-mode: luminosity;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
}
.co-founders {
   padding: 7vw 0;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   color: #fff;
}
.co-founder-bq {
   display: flex;
   flex-direction: column;
   align-items: center;
   max-width: 330px;
   list-style-type: none;
}
.avatar {
   height: 76px;
   width: 76px;
   background-color: #4e4e5e;
   border: #1d1e24 solid 2px;
   margin-bottom: 25px;
}
.name-co-found {
   font-family: 'Exo Medium';
   font-weight: 500;
   font-size: 22px;
   margin-bottom: 14px;
}
.position {
   font-family: 'Exo Medium';
   font-weight: 500;
   font-size: 16px;
   margin-bottom: 38px;
   color: #ff6d6d;
}
.bq {
   font-family: 'Exo Regular';
   font-weight: 400;
   font-size: 16px;
   text-align: center;
   opacity: 0.66;
}

/* Блок с логотипами */

.section-logos {
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   padding-bottom: 7vw;
}

/* Шестая секция */
.section-browser {
   background: #f6f5f3;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.header-sixth-section-1 {
   font-family: 'Exo Medium';
   font-weight: 500;
   font-size: 16px;
   margin-bottom: 26px;
   padding-top: 7vw;
   color: #ff6d6d;
}
.header-sixth-section-2 {
   font-family: 'Exo Medium';
   font-weight: 500;
   font-size: 40px;
   margin-bottom: 49px;
   color: #282828;
}
.paragraph-sixth-section {
   font-family: 'Exo Medium';
   font-weight: 500;
   font-size: 16px;
   text-align: center;
   opacity: 0.66;
   color: #282828;
   max-width: 650px;
   margin-bottom: 6vw;
}
