@import 'font.css';

* {
   margin: 0;
   padding: 0;
}

/* Первый экран */

.container-header {
   background: url(../images/header.png) center no-repeat;
   background-size: cover;
   width: 100%;
   padding: 13vw 0;
   display: flex;
   flex-direction: column;
}

.first-header {
   font-family: 'Exo Thin';
   font-weight: 100;
   font-size: 60px;
   max-width: 730px;
   text-align: center;
   margin: 0 auto 30px;
}

/* Кнопки */

.button-round {
   opacity: .6;
   margin: 30px auto 20px;
   transition: 0.3s;
}

.button-square {
   background: #ff6d6d;
   width: 190px;
   height: 50px;
   border-radius: 3px;
   margin: 20px auto 12px;
   transition: 0.3s;
}

.text-btn-sq {
   text-align: center;
   font-family: 'Exo Regular';
   font-weight: 400;
   font-size: 16px;
   color: #fff;
   line-height: 50px;
}

/* Анимация кнопок */

.button-round:hover {
   cursor: pointer;
   transform: scale(1.1);
}

.button-round:active {
   transform: none;
}

.button-square:hover {
   cursor: pointer;
   transform: scale(1.1);
}

.button-square:active {
   transform: none;
}

/* Сноска */

.capution {
   text-align: center;
   font-family: 'Myriad Pro';
   font-weight: 400;
   font-size: 14px;
   color: #282828;
   opacity: .6;
   margin: 12px auto 0;
}

span {
   color: #ff6d6d;
}

/* Второй экран */

.new-desing1 {
   margin: 0 auto;
   display: flex;
   flex-direction: row;
   justify-content: center;
}
.discriptoin {
   padding: 6vw;
   flex-direction: column;
}
.discription1 {
}
.discription2 {
}
.discription3 {
}
.discription4 {
}
.foto-section2 {
   background: #ececec;
   width: 80%;
   height: 80vh;
}

