@import 'font.css';


* {
   margin: 0;
   padding: 0;
}

/* Первый экран */

.first-screen {
   background: url(../images/header.png) center no-repeat;
   background-size: cover;
   width: 100%;
}

.container-header {
   box-sizing: border-box;
   height: 80vh;
}

.first-header {
   font-family: 'Exo Thin';
   font-weight: 100;
   font-style: 60px;
   text-align: center;
}

